/* 輪播牆 Carousel */
#carousel-box {
  position: relative;
}

#carousel {
  min-height: 100vh;
  position: relative;
}

#carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade infinite 9s;
}

#carousel-textarea {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -150%);
  width: clamp(100%, 500px, 40%);
  height: clamp(150px, 200px, 30%);
  z-index: 2;
  background-color: rgba(128, 122, 103, 0.4);
  text-shadow: 5px 5px 5px black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: white;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10%,
  30% {
    opacity: 1;
  }

  33%,
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 992px) {
  #carousel-textarea {
    top: 0;
    left: 0;
    transform: translate(0, 45px);
    height: 100%;
    font-size: 30px;
    padding: 20px 40px;
    justify-content: center;
    text-align: center;
  }
}

/* 關於我們 */
.about-us {
  min-height: 100vh;
  background-image: url(../images/about-us-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-us .text-box {
  padding: 153px 20px 70px;
  height: 100%;
  background-color: rgba(128, 122, 103, 0.4);
}

.about-us .text-box h2 {
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.about-us .text-box > h2 + div {
  font-size: 20px;
}

.about-us .image-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  row-gap: 20px;
}

.about-us .image-box {
  width: 80%;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.about-us .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
}

@media screen and (min-width: 992px) {
  .text-box {
    width: clamp(200px, 30%, 400px);
    height: 100%;
  }

  .about-us .text-box {
    height: 100vh;
    transform: translateX(200px);
  }

  .about-us .image-area {
    flex-direction: row;
    column-gap: 20px;
  }
}

/* 居家設計 */
.home-design h2 {
  font-size: 30px;
}

.home-design .title {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  box-sizing: border-box;
}

.home-design .title .line {
  border-bottom: 1px solid black;
}

.home-design .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-design .content .left .up {
  display: flex;
  width: 90%;
  margin: auto;
  column-gap: 10px;
}

.home-design .content .left .up .image-content {
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.home-design .content .left .up .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-design .content .left .up .text-content {
  width: 50%;
}

.home-design .content .left .up .text-content h3 {
  font-weight: normal;
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 16px;
}

.home-design .content .left .down {
  width: 90%;
  margin: auto;
  text-align: justify;
  margin: 30px auto;
}

.home-design .content .down h3 {
  margin: 30px 0 10px;
  font-weight: normal;
  font-size: 24px;
  color: burlywood;
}

.home-design .content .right {
  width: 90%;
  max-width: 576px;
  max-height: 768px;
  aspect-ratio: 1/2;
  margin: auto;
  overflow: hidden;
}

.home-design .content .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .home-design .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .home-design .title h2 {
    margin: 50px;
  }

  .home-design .title .line {
    flex-grow: 1;
    /* border-bottom: 1px solid black; */
  }

  .home-design .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  .home-design .content .left {
    width: 50%;
  }
  .home-design .content .left .up {
    display: flex;
    column-gap: 0;
  }
  .home-design .content .left .up .text-content h3 {
    margin-left: 30px;
    font-weight: normal;
  }

  .home-design .content .left .up .text-content h3:first-child {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 5px solid burlywood;
  }
  .home-design .content .left .up .image-content {
    width: 50%;
    aspect-ratio: 3/4;
    overflow: hidden;
  }

  .home-design .content .left .image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-design .content .down h3 {
    /* margin: 30px 0; */
    font-weight: normal;
    font-size: 24px;
    color: burlywood;
  }

  .home-design .content .right {
    margin: 0 50px;
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .home-design .content .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* contact us */
.contact-us {
  margin: 20px;
}

.contact-us .text-content h2 {
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.contact-us .text-content ul {
  list-style: none;
}
.contact-us .text-content .list-flex .info {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
}

.contact-us .text-content a {
  color: burlywood;
}

.contact-us .text-content .list-flex {
  display: flex;
  flex-direction: column;
}

/* .contact-us .text-content .list-flex > * {
  width: 50%;
} */

.contact-us .text-content .list-flex .info > :first-child {
  width: 50px;
  text-align-last: justify;
  flex-shrink: 0;
}

.contact-us .text-content .list-flex .info > :last-child::before {
  content: "|";
  margin-right: 10px;
}

.contact-us .text-content .list-flex iframe {
  width: 100%;
  aspect-ratio: 2 / 1;
}

.contact-us .text-content ul .prove {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 15px;
  margin-top: 30px;
}

.contact-us .text-content ul .prove a {
  width: 20%;
  overflow: hidden;
}

.contact-us .text-content ul .prove a img {
  width: 100%;
}

@media screen and (min-width: 1120px) {
  .contact-us {
    margin: 50px;
  }
  .contact-us .text-content .list-flex {
    flex-direction: row;
  }

  .contact-us .text-content .list-flex > * {
    width: 50%;
  }

  .contact-us .text-content .list-flex .info > :first-child {
    width: 100px;
  }

  .contact-us .text-content .list-flex .info {
    font-size: 20px;
  }

  .contact-us .text-content ul .prove img {
    max-width: 150px;
  }
}

/* 所有標題中英文rwd */
.title-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .title-flex {
    display: flex;
    column-gap: 15px;
  }
}
